/* GLOBAL RESETS */
* { box-sizing: border-box;}

// VARIABLES
$color-text-body: rgba(0,0,0,.8);
$color-text-headings: rgba(0,0,0,1);
$color-accent: rgb(45, 115, 182);
$color-link: rgb(41, 182, 95);
$color-link-darker: rgb(24, 112, 58);
$color-accent-light: rgb(255, 198, 198);

$color-lightgray: rgba(0,0,0,.5);

$font-family-sans: 'museo-sans', Helvetica, Arial, Helvetica, sans-serif;
$font-family-serif: 'utopia-std', Georgia, Times, 'Times New Roman', serif;

// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px; 

// IMPORTS 
@import "partials/helpers";
@import "partials/toc";
@import "partials/typography";
@import "partials/buttons";
@import "partials/media";
@import "partials/layout";
@import "partials/grid";
@import "partials/structure";



